/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.modal-img {
  width: 330px;
}

.modal-dialog .modal-content {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11px );
  -webkit-backdrop-filter: blur( 11px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.row .text-col {
  margin: auto 0;
}

.list-group .list-group-item {
  background-color: #fff0;
}

.card-col {
  height: 470px;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .modal-img {
    width: 515px;
  }
  .card-col {
    height: 730px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .modal-img {
    width: 300px;
  }
  .card-modal .modal-dialog {
    max-width: 45rem;
  }
  .card-col {
    height: 420px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .modal-img {
    width: 350px;
  }
  .card-modal .modal-dialog {
    max-width: 60rem;
  }
  .card-col {
    height: 500px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .modal-img {
    width: 400px;
  }
  .card-modal .modal-dialog {
    max-width: 72.5rem;
  }
  .card-col {
    height: 560px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .modal-img {
    width: 450px;
  }
  .card-modal .modal-dialog {
    max-width: 80rem;
  }
  .card-col {
    height: 630px;
  }
}